* {
  margin: 0px;
  padding: 0px;
}
.App {
  background: #f6f6f6;
  padding: 30px;
  height: 100vh;
}
::-webkit-scrollbar-track {
  background-color: #f4f4f4;
}
::-webkit-scrollbar {
  width: 8px;
  background: #f4f4f4;
}
::-webkit-scrollbar-thumb {
  background: #aaa;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
