.ctn-list-people {
  background: #fff;
  color: #111;
  padding: 10px;
  margin-top: 40px;
  border-radius: 5px;
  border: 1px solid #e8e8e8;
  height: auto;
}
.list-people-img img {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  float: left;
  position: relative;
  left: 5px;
  top: 10px;
  object-fit: cover;
}
.list-people-dados {
  margin: 0 auto;
  padding: 20px;
  position: relative;
  left: 30px;
  /*  */
}
.list-people-dados-span {
  color: #ff6f00;
}
.list-people-btn-excluir {
  float: right;
  position: relative;
  top: -55px;
  right: 20px;
}
.list-people-btn-excluir a {
  color: #ff6f00;
  font-size: 1.5em;
  transition-duration: 0.4s;
}
.list-people-btn-excluir a:hover {
  color: #aaa;
}
