.container-principal {
  background: #f6f6f6;
  height: 100vh;
}
.container-principal--cadastro {
  /* background: #111; */
  width: 70%;
  height: 50%;
  margin: 0 auto;
  padding: 100px;
}
.input-principal-cadastro-imagem {
  background: tomato;
  width: 125px;
  height: 125px;
  float: left;
  border-radius: 50%;
  margin-right: 20px;
}
.input-form {
  padding-top: 23px;
  padding-left: 5px;
  margin: 2px;
  border: none;
  border-bottom: 1.2px solid #aaa;
  width: 40%;
  height: 20px;
  border-radius: 1px;
  background: transparent;
}
.input-form:focus {
  outline: 0;
  border-bottom: 2px solid tomato;
}
.btn-principal-cadastro button {
  width: 100px;
  height: 30px;
  border: none;
  margin: 10px;
  color: #6d6d6d;
  transition-duration: 0.5s;
}
.btn-principal-cadastro button:hover {
  background: #6d6d6d;
  color: #f2efef;
  cursor: pointer;
  border-radius: 5px;
}
