.search-bar {
  margin: -30px;
  height: auto;
  background: #fff;
  font-family: 'Roboto', sans-serif;
}
.input-search-bar {
  width: 80%;
  height: 80px;
  border-radius: 10px;
  border: none;
  margin: 0px;
  font-family: 'Roboto', sans-serif;
}
.input-search-bar:focus {
  outline: 0;
}
.search-bar-icon-search {
  color: #aaa;
  padding: 15px;
  transition-duration: 0.2s;
}
::-webkit-input-placeholder {
  font-size: 1.1em;
  font-family: 'Roboto', sans-serif;
  font-weight: 200;
}

.search-bar-icon-user {
  color: #aaa;
  float: right;
  margin-right: 40px;
  margin-top: 25px;
  font-size: 1.5em;
  transition-duration: 0.2s;
}
.search-bar-icon-user:hover {
  color: #ff6f00;
}
.search-bar-icon-search:hover {
  color: #ff6f00;
}
